<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
                <li><a href={{ site.url }}/0001 >FIRST PAGE</a></li>
                <li><a href={{ site.url }}/0003 >LAST PAGE</a></li>
                <li><a href={{ site.url }}/about>ABOUT</a></li>
                <li><a href={{ site.url }}/extras>EXTRAS</a></li>
                <li><a href={{ site.url }}/archive>ARCHIVE</a></li>
          </ul>
      </div>
  </div>
</nav>
